@font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-Thin.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-UltraLight.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
	
	@font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-Light.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	}
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-Regular.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-SemiBold.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-Bold.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-UltraBold.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-UltraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
  }
	
  @font-face {
	font-family: 'fj Platz Groteske';
	src: url('fonts/fjPlatzGroteske-Black.woff2') format('woff2'),
	url('fonts/fjPlatzGroteske-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
  }
  
  html, body {
	font-family: 'fj Platz Groteske';
	font-feature-settings: 'pnum' on, 'lnum' on;
	text-rendering: optimizeSpeed;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#__nuxt {
		@apply flex min-h-screen flex-col justify-start;
	}

	:root {
		/* макимальная ширина контента */
		@apply /*
        Растояние от границы брузера по бокам */ [--widthContent:1280px]
        [--widthContentMargin:30px] lg:[--widthContentMargin:40px];
	}

	/* Настройка кастомных контейнеров */
	/* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

	.grid-container {
		grid-template-columns:
			[full-start] minmax(var(--widthContentMargin), 1fr)
			[main-start] minmax(0, var(--widthContent))
			[main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
		@apply grid;
	}

	.grid-container > * {
		@apply col-[main];
	}

	.wrapper {
		@apply mx-auto w-[calc(100%-var(--widthContentMargin)*2)] max-w-[var(--widthContent)];
	}

	.container {
		@apply max-w-[var(--widthContent)];
	}
}

